
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;

}

body{
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header{
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header p{
    color:black; 
}

header,
header:before {
    background: 50% 50% / cover;
}

header::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(planete.gif);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh; 
}



.container {
    z-index: 2;
    position: absolute;
    top: 100vh;
    background: rgb(255, 255, 255);
    line-height: 30px;
    font-weight: lighter;
    padding: 40px;
    color: rgb(0, 0, 0);
}


nav{
    position: relative;
    padding: 0 3rem;
   /* margin-top: 1rem;*/
    z-index: 10;
    max-width:100%;
    min-height: 100%;
    background-color: rgb(235, 235, 235);
}
nav .paragraphe{

    border-top: 1px solid  rgb(240, 64, 20);;
    border-left: 1px solid  rgb(240, 64, 20);;
    padding: 1.3rem 0 0 1.3rem;
    font-size:2rem;
    font-family: "Chakra Petch", serif;
    max-width: 55%;
    font-weight: 300;
   font-style: normal;
   text-align: justify;
   letter-spacing: -1px;
}

.navbar{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* border: 1px solid yellow;*/
    max-width: 1600px;
    height: 80px;
    top: 0;
    z-index: 10;
}

.navbar2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1600px;
}

.navbar2 p{
   font-family: "Chakra Petch", serif;

}
.links{
    display: flex;
    gap: 10px;
}
.links li{
    list-style: none;

}
.links li a{
    font-family: "Chakra Petch", serif;
    text-decoration: none;
    color: black;
}

.navbar p{
    font-family: "Chakra Petch", serif;
    color: black;
}

.red{
    color: rgb(240, 64, 20);
    font-family: "Chakra Petch", serif;
}

.mini-container .carre{
    background-color: rgb(129, 129, 129);
    height: 300px;
    width: 300px;
    border-radius: 10px; 
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: transform 0.4s ease-out;
}

.mini-container .carre:hover{
    transform: scale(1.7) translate(60px, 60px);
}

.container{
    width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  
}

.mini-container2{

    width: 100%;
}

.carre2{
    width: 750px;
    height: 750px;
    border-radius: 10px;
    background-color: rgb(129, 129, 129);
}

#arrow{
    font-size: 37rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container h1{
    border-top: 1px solid black;
    padding-top: 3rem;
    width: 100%;
    font-family: "Chakra Petch", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}



.mini-container{
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

 .numero{
    position: absolute;
    top: -2rem;
    font-family: "Chakra Petch", serif;
    left: 10px;
    left: 17rem;

}

.ronds{
    display: grid;
    grid-template-columns: 300px 300px 300px;

    gap: -10px;
    height: 370px;
}

.rond{
     background-color: rgb(240, 64, 20); 
     width: 240px;
     height: 240px;
     border-radius: 50%;
}
.separation{
    display: flex;
    gap: 10px;
}


.container2{
    background-color: black;
    width: 100%;
    min-height: 100%;

}


.carre3{
    background-color: black;
}




